h1 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 120px;
  font-weight: bold;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}

.winky-sans-<uniquifier> {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#Title-IMG {
  width: 1000px;  /* Set the width to 500px */
  height: 600px; /* Set the height to 300px */
}

body {
        background-color: black;
        color: white; /* Ensure text is readable against the black background */
        font-size: 35px;
      }

h2 {
    font-size: 90px;
    font-weight: bold;
    font-family: "Winky Sans", sans-serif;
}

#UZI {
    width: 200px;
    height: 600px;
}

#my-list {
    font-size: 35px
}

.centered {
    display: block;            /* Makes the image a block-level element */
    margin-left: auto;         /* Auto margin on the left side */
    margin-right: auto;        /* Auto margin on the right side */
    text-align: center;        /* For text inside, though it's not necessary for images */
}

.centered-list { /* centers list */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    display: block; /* Make the list a block element */
    width: fit-content; /* Ensures the list only takes as much space as its content */
    margin-left: auto; /* Automatically adjust left margin */
    margin-right: auto; /* Automatically adjust right margin */
    text-align: center; /* Optional: Center the text inside the list items */
}

.v {
  color: purple;
}
